
body {
	background-color: #606;
	color: #fff;
	overflow: hidden;
}

#stage{
	width: 600px;
	height: 400px;
	margin: 100px auto;
	background-color: rgba(0, 0, 0, 0.5);

	#container {
		width:100%;
		height:100%;
		background-color: rgba(0,0,0,0.5);
	}


	.obj {
		height: 160px;
		background-color: #090;
	}
	.object {
		width: 50px;
	}
	.obj_side_left {
		width: 20px;
	}
	.obj_side_right {
		width: 20px;
	}



	#bg {
		width: 500%;
		height: 400px;
		background-color: #fff;
	}
}
