
body {
	background-color: #000;
	color: #fff;
	overflow: hidden;
}

#stage{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;


	#upper {
		background-color: #000;
		width: 100%;
		height: 400px;
		display:none;
	}	

	#lower {
		background-color: #000;
		width: 100%;
		height: 200px;
	}

	#object {
		width: 60px;
		height: 160px;
		background-color: #090;
	}

	#bg {
		width:500%;
		height:600px;
		background-color: #fff;
	}
}
