$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@mixin prefix($name, $argument) {
	-webkit-#{$name}: #{$argument};
	-ms-#{$name}: #{$argument};
	-moz-#{$name}: #{$argument};
	-o-#{$name}: #{$argument};
	#{$name}: #{$argument};
}
@mixin keyframes( $animationName ) {
	@-webkit-keyframes $animationName {
		@content;
	}
	@-moz-keyframes $animationName {
		@content;
	}
	@-o-keyframes $animationName {
		@content;
	}
	@keyframes $animationName {
		@content;
	}
}
$prefixes: ("-webkit-","-moz-", "-ms-", "-o-", "");

@import 'sass-bootstrap/lib/bootstrap';
@import 'sprite.scss';
@import 'cover.scss';
@import 'scene.scss';
@import 'snow.scss';
@import 'popup.scss';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
		color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
	padding-top: 20px;
	padding-bottom: 20px;
	background-image: url('/images/body_bg.png');
	overflow: hidden;
	color: #fff;
}

.content {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	div {
		text-align: center;
		color: #ddd;
		font: {
			size: 10px;
		}
	}
}
