$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import 'sprite.scss';
@import 'cover.scss';
@import 'scene.scss';
@import 'snow.scss';
@import 'popup.scss';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
	padding-top: 20px;
	padding-bottom: 20px;
	background-image: url('/images/body_bg.png');
}

.content {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	div {
		text-align: center;
		color: #ddd;
		font: {
			size: 10px;
		}
	}
}

@media screen and (max-width:320px) {
	.content {
		#stage {
			.wrapper-scene {
				//-webkit-transform: scale3d(0.1,0.1,0.1);
			}
		}
	}
}
@media screen and (min-width:321px) and (max-width:639px) {
	.content {
		#stage {
			.wrapper-scene {
				//-webkit-transform: scale3d(0.2,0.2,0.2);
			}
		}
	}


}
@media screen and (min-width:640px) and (max-width:959px) {
	.content {
		#stage {
			.wrapper-scene {
				//-webkit-transform: scale3d(0.4,0.4,0.4);
			}
		}
	}


}
@media screen and (min-width:960px) and (max-width:1279px) {
	.content {
		#stage {
			.wrapper-scene {
				//-webkit-transform: scale3d(0.6,0.6,0.6);
			}
		}
	}


}
@media screen and (min-width:1280px) and (max-width:1599px) {
	.content {
		#stage {
			.wrapper-scene {
				//-webkit-transform: scale3d(0.8,0.8,0.8);
			}
		}
	}

}
@media screen and (min-width:1600px) {}
