.modal {
	color: #000;
	font: {
		size: 45px;

	}
	
	.slide {
	}
	.slide {
	}
	.modal-content {
		background-color: #eee;
	}
	.modal-body {
		padding: 40px;
	}
}

@media screen and (min-width: 768px){
	.modal-dialog {
		width: 800px;
	}

}
