.a_body { background-image: url('../images/sprite.png'); background-position: 0 0; width: 250px; height: 350px; }
.a_dress { background-image: url('../images/sprite.png'); background-position: 0 -350px; width: 160px; height: 230px; }
.a_hat { background-image: url('../images/sprite.png'); background-position: 0 -580px; width: 200px; height: 100px; }
.b_body { background-image: url('../images/sprite.png'); background-position: 0 -680px; width: 200px; height: 280px; }
.b_dress { background-image: url('../images/sprite.png'); background-position: 0 -960px; width: 160px; height: 200px; }
.b_hat { background-image: url('../images/sprite.png'); background-position: 0 -1160px; width: 130px; height: 130px; }
.g_side_l { background-image: url('../images/sprite.png'); background-position: 0 -1290px; width: 140px; height: 140px; }
.g_side_t { background-image: url('../images/sprite.png'); background-position: 0 -1430px; width: 150px; height: 60px; }
.g_top { background-image: url('../images/sprite.png'); background-position: 0 -1490px; width: 150px; height: 150px; }
.t_feet { background-image: url('../images/sprite.png'); background-position: 0 -1640px; width: 180px; height: 300px; }
.t_mid { background-image: url('../images/sprite.png'); background-position: 0 -1940px; width: 450px; height: 320px; }
.t_star { background-image: url('../images/sprite.png'); background-position: 0 -2260px; width: 200px; height: 300px; }
.t_top { background-image: url('../images/sprite.png'); background-position: 0 -2560px; width: 320px; height: 220px; }
